<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        {# Use direct Bootstrap CDN link with integrity check removed #}
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
        
        {# Add our custom CSS that will definitely work #}
        <link href="/css/custom.css" rel="stylesheet">
        
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <main>
            {% block body %}{% endblock %}
        </main>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoA6DQD1KQ2U5r1Q1Z9zzTtmI3e1h7kG6Q5J8z1L4r5t6a7" crossorigin="anonymous"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
